# Dependencies
node_modules/

# Build output
dist/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
*.txt
Logs/
logs/

# Environment variables
.env
.env.local
.env.production

# VS Code
.vscode/

# Mac metadata
__MACOSX/
